<div class="sidebar">
    
    <!-- Dummy data -->
    <ul class="project-list">
      <li class="project-item">Project 1</li>
      <ol class="doc-list">
        <li class="doc-item"><button (click)="selectDocument()">Hello</button></li>
        <li class="doc-item"><button (click)="selectDocument()">Scene Planning</button></li>
        <li class="doc-item"><button (click)="selectDocument()">Chapter 3 - Something</button></li>
        <li class="add-doc"><button (click)="addDocument()"><img src="../../assets/images/add.png" width="20px"></button></li>
      </ol>
      <li class="project-item">Project 2</li>
      <ol class="doc-list">
        <li class="doc-item"><button (click)="selectDocument()">Chapter 6</button></li>
        <li class="doc-item"><button (click)="selectDocument()">Chapter 9</button></li>
        <li class="doc-item"><button (click)="selectDocument()">Chapter 44</button></li>
        <li class="add-doc"><button (click)="addDocument()"><img src="../../assets/images/add.png" width="20px"></button></li>
      </ol>
      <li class="project-item">Project 3</li>
      <ol class="doc-list">
        <li class="add-doc"><button (click)="addDocument()"><img src="../../assets/images/add.png" width="20px"></button></li>
      </ol>
    </ul>

  </div>